<p class="line"></p>


<div class="detail">
    <div class="title"><%= @form.title %></div>

    <div class="user">
    　<%= image_tag(@form.user.image.url, class: 'userIcon')%>
      <a class="userName"><%= @form.user.username %></a> 
      <div class="time">2016 / 05 / 28 13:25</div>
    </div>

    <div class="content">
        <%= image_tag(@form.picture, class: 'image') %>
        <div class="likeText">like: 31</div>
        <div class="likeIcon">
            <%= image_tag('like-Icon.png') %>
        </div>
        <div class="tag">
            #Phototo  #コントラスト強め  #地元で撮った
        </div>
        <div class="text">
            <%= @form.text %>
        </div>
    </div>
</div>


<p class="line"></p>

<div class="top">
        <%= link_to 'topへ', root_path, class: 'topLink' %>
</div>