<!DOCTYPE html>
<html>
<head>
  <title>Shiroqma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="icon">
    <%= image_tag("srQm-logo.png") %>
  </div>

  <div class="form">
    <div class="search">
      <input name="keyword" type="text" placeholder="タイトルで検索" class="search_form">
    </div>
    <div class="login">
    <% if user_signed_in? %>
      <%= link_to image_tag('logout.png'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= image_tag("login.png", class: 'loginButton') %>
    <% end %>
    </div>
  </div>

  
    <ul class="menu">
      <li class="ctg-icon"><%= link_to image_tag("home-Icon.png"), root_path %></li>
      <li class="ctg-icon"><%= image_tag("feed-Icon.png") %></li>
      <li class="ctg-icon"><%= image_tag("ctg-Icon.png") %>
        <ul class="category">
          <li class="picture ctg-icon2"><%= image_tag("pict-Icon.png") %></li>
          <li class="illust ctg-icon2"><%= image_tag("ilst-Icon.png") %></li>
          <li class="music ctg-icon2"><%= image_tag("music-Icon.png") %></li>
          <li class="movie ctg-icon2"><%= image_tag("movie-Icon.png") %></li>
        </ul>
      </li>
      <% if user_signed_in? %>
        <li class="ctg-icon"><%= image_tag("mypg-Icon.png") %></li>
      <% else %>
        <li class="ctg-icon"><%= image_tag('signup-Icon.png', class: 'signUpButton' ) %></li>
      <% end %>
    </ul>

    <div id="loginModalWrapper">
      <div class="loginModal">
        <div class="loginForm">
          <div class="title">
          log in
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="userName">
              <%= f.text_field :username, {class: 'userForm', placeholder: 'username'} %>
            </div>
            <div class="password">
              <%= f.password_field :password, {autocomplete: "off", class: 'passForm', placeholder: 'password'} %>
            </div>
            <%= f.submit 'login',{style: 'display:none'} %>
          <% end %>
        </div>
      </div>
    </div>

    <%#サインアップモーダル%>
    <div id="signUpModalWrapper">
      <div class="signUpModal">
        <div class="signUpForm">
          <div class="title">
            Sign Up
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="image">
            <%= f.label :image, 'Upload Image', {class: 'imageLabel'} %>
            <%= f.file_field :image, {style: 'display:none'} %>
          </div>
          <div class="userName">
            <%= f.text_field :username, {class: 'userForm', placeholder: 'username'} %>
          </div>
          <div class="password">
            <%= f.password_field :password, {autocomplete: "off", placeholder: 'password', class: 'passForm'} %>
          </div>
          <div class="graduation">
            <%= f.text_field :graduation, {class: 'gradForm', placeholder: '　卒業'} %>
          </div>
          <div class="college">
            <%= f.text_field :college, {class: 'colForm', placeholder: '　学校'} %>
          </div>
          <div class="content">
            <%= f.text_area :content, {class: 'conForm', placeholder: 'and more...'} %>
          </div>
          <%= f.submit :class => 'submit', :value => '' %>
          <% end %>
        </div>
      </div>
    </div>
  
</div>

<%= yield %>


 

</body>
</html>
